* {
    margin: 0%;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
header {
    height: 101px;
    box-shadow: 0 1px 3px rgb(0, 0, 0 / 10%), 0 2px 2px rgb(0, 0, 0 / 6% ),  0 0 2px rgb(0 0 0 / 7%);
}
.header-container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.left-nav {
    display: flex;
    height: 100%;
    align-items: center;
}
.left-nav nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.left-nav nav ul li {
    text-transform: uppercase;
    padding-left: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.left-nav nav ul li:hover {
    color: #10f7ff;
    cursor: pointer;
}
.logo {
    height: 51px;
    width: 51px;
}
.logo img {
    height: 100%;
}

.right-nav {
    display: flex;
    align-items: center;
}
